@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.stroke-solid {
  stroke-dashoffset: 0;
  stroke-dashArray: 300;
  stroke-width: 4px;
  transition: stroke-dashoffset 1s ease,  opacity 1s ease;
}

.icon {
  transform: scale(0.8);
  transform-origin: 50% 50%;
  transition: transform 200ms ease-out;
}

#play:hover .stroke-solid {
  opacity: 1;
  stroke-dashoffset: 300;
}
#play:hover .icon {
  transform: scale(0.9);
}

#play {
  cursor: pointer;
}
